@font-face {
  font-family: anirb;
  src: url(../fonts/anirb___.ttf);
}

.witcherWrapper {
  background-image: url("/screen-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.witcherContent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 50px;
}

.witcherTitle {
  font-family: anirb, sans-serif;
  color: aliceblue;
}

.names {
  font-family: anirb, sans-serif;
  color: aliceblue;
}

.names:hover {
  text-decoration: underline;
}

.names:active {
  color: #f5002d;
}

@media screen and (max-width: 768px) {
  .titlesBlock {
    gap: 30px;
  }
}




